<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            <ion-button>Update Profile</ion-button>
        </ion-item>
        <ion-item>
            <ion-button>Connect Wearable</ion-button>
        </ion-item>
        <ion-item>
            <ion-button>Manage Data</ion-button>
        </ion-item>
        <ion-item>
            <ion-button>Privacy Policy</ion-button>
        </ion-item>
    </ion-list>

</ion-content>
