<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
        </ion-buttons>
        <ion-title>Calorie Intake Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-segment (ionChange)="newPeriod($event)" value="week">
                <ion-segment-button value="week">
                    <ion-label>W</ion-label>
                </ion-segment-button>

                <ion-segment-button value="month">
                    <ion-label>M</ion-label>
                </ion-segment-button>

                <ion-segment-button value="year">
                    <ion-label>Y</ion-label>
                </ion-segment-button>
            </ion-segment> 

            <ion-card-content>
                <canvas #calorieIntake></canvas>
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>
